// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #9855D4;


h1, h2, h3, h4, h5, h6 {
  font-family: 'Questrial';
}

.jumbotron {
  background-color: grey;
}

.table {
  font-family: 'Questrial';
}

td {
  font-family: 'Questrial';
}

.post-container {
  padding: 10px, 20px;
  border-style: double;
  border-width: 0px, 4px;
  border-color: $primary-color;
}

.comments {
  margin-left: 20px;
  border-style: ridge;
  border-left-width: none none none thin;
  border-color: yellow;
}

nav {
  background-color: $primary-color;
}

.pagination {
  background-color: inherit;
  align-items: center;
}
